header {
    background: #2b2b2b;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: lightgreen;
}

h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.18em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.2em;
    color: #333;
}

pre {
    padding: 7px;
    overflow: auto;
    line-height: 1.80;
    background-color: #E2FBE0;
    border-radius: 2px;
}

img {
    display: block;
    margin: auto;
    width: 90%;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
    padding: 0 10;
}

code {
    font-size: 1.2em;
}

hr {
    height: 0px;
}

ol {
    font-size: 1.2em;
}

.title-blog {
    color: #BCC2C6;
    text-align: left;
    /* padding-right: 30px; */
    padding: 6px 8px 6px 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.inner {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 65%;
}

.share-page {
    text-align: center;
    background: $secondary-color;
    color: $light-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.4em;
}

ul.posts li {
    list-style: none;
}

 /* The sidebar menu */
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2b2b2b; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav img {
      height: 32px;
      width: 32px;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  .bmc-button img{
    width: 25px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
  }
  
    .bmc-button {
        padding: 7px 5px 7px 10px !important;
        line-height: 35px !important;
        height:51px !important;
        min-width:217px !important;
        text-decoration: none !important;
        display:inline-flex !important;
        color:#ffffff !important;
        background-color:#FF813F !important;border-radius: 5px !important;
        border: 1px solid transparent !important;
        padding: 7px 5px 7px 10px !important;
        font-size: 22px !important;
        letter-spacing: 0.6px !important;
        box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        margin: 0 auto !important;
        font-family:'Cookie', cursive !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        -o-transition: 0.3s all linear !important;
        -webkit-transition: 0.3s all linear !important;
        -moz-transition: 0.3s all linear !important;
        -ms-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
    }
    .bmc-button:hover, 
    .bmc-button:active, 
    .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color:#ffffff !important;
    }