.header {
    display: none;
    background: #2b2b2b;
    text-align: center;
    margin-top: 0px;
    position: fixed;
    width: 100%;
}

.header nav ul{
    background: #2b2b2b;
    padding: 12px;
    margin: 0px;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: #818181;
}

.header a:hover {
    color: #BCC2C6;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    text-align: right;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 12%;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: lightgreen;
}

h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.18em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.2em;
    color: #333;
}

pre {
    padding: 7px;
    overflow: auto;
    line-height: 1.80;
    background-color: #E2FBE0;
    border-radius: 2px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

code {
    font-size: 1.2em;
}

hr {
    height: 0px;
}

ol {
    font-size: 1.2em;
}

.inner {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 65%;
}

.share-page {
    text-align: center;
    background: $secondary-color;
    color: $light-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;
    
    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;
        
        hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.6em;
    padding-left: 8%;
    font-weight: normal;
    line-height: 1.2em;
}

ul.posts li {
    list-style: none;
}

.about {
    padding-left: 8%;
}

.column {
    float: left;
    width: 32%;
    padding-left: 10%;
    padding-bottom: 10%
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
} 

.notes {
    padding-left: 10%;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b2b2b; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav-footer {
    position: absolute;
    bottom: 5%;
    width:100%;
}

.sidenav-footer a {
    text-decoration: none;
    font-size: 11px;
    color: #818181;
    display: block;
}

.footer-copyright {
    text-align: center;
    font-size: 0.7em !important;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #BCC2C6;
    margin-top: 3px;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}
  
@media (max-width: 1100px) , (max-height: 500px) {
    .sidenav {
        display: none;
    }

    .header {
        display: inline;
    }

    .notes {
        padding: 0%;
        margin: 0px;
    }
}

/* BMC Button */
.bmc-button img {
    width: 10% !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

.bmc-button {
    padding: 7px 5px 7px 10px !important;
    line-height: 35px !important;
    height:51px !important;
    min-width:217px !important;
    text-decoration: none !important;
    display:inline-flex !important;
    color:#ffffff !important;
    background-color:#FF813F !important;
    border-radius: 5px !important;
    border: 1px solid transparent !important;
    padding: 7px 5px 7px 10px !important;
    font-size: 28px !important;
    letter-spacing:0.6px !important;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    margin: 0 auto !important;font-family:'Cookie', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
    }
    
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color:#ffffff !important;
}

.bmc-align {
    font-size:30px !important;
    margin-right: auto;
}
